*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#dropButton{
    color: black;
    background-color: #009688;
}
#langs{
    color: #ccc;
    text-align: center;
}
ul{
    text-align: center;
}
.dropdown{
    display: none;
}
#animateButton{
    background-color: rgb(170, 129, 47);
}
#myElement{
    text-align: center;
    background-color: darkseagreen;
}
h1{
    border-radius: 25px;
    background-color: rgb(120, 133, 135);
    color: rgb(189, 203, 62);
    margin: 5px 245px;
    text-align: center;
    align-items: center;
}
h2{
    color: rgb(145, 56, 161);
    text-align: center;
    align-items: center;
}
h3{
    color: rgb(192, 167, 26);
    text-align: center;
    align-items: center;
}
h4{
    color: red;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
}
h5{
    color: green;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
}
h6{
    font-size: x-large;
    color: blueviolet;
    text-align: center;
}
div1{
    color: #009688;
}
div{
    text-align: center;
}
.indexDiv p{
    border-radius: 26px;
    margin: 5px 245px;
    font-size: larger;
    background-color: rgb(157, 221, 211);
    color: rgb(26, 17, 17);
}
.navbar{
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: antiquewhite;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 95%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content input{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.hobbyContent{
    width: 100%;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.hobbyContent h1{
    font-size: 70px;
    margin-top: 80px;
}
.hobbyContent input{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.aboutContent{
    width: 100%;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.aboutContent table{
    width: 100%;
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.aboutContent h1{
    font-size: 70px;
    margin-top: 80px;
}
.aboutContent p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
body{
    background-color:rgb(157, 221, 211);
}
form{
    text-align: center;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid yellow;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
p{
    color: aliceblue;
    text-align: center;
    align-items: center;
}
button{
    text-align: center;
    align-items: center;
}
.Ibody{
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url(car.jpeg);
    background-size: cover;
    background-position: center;
}
.Hbody{
    width: 100%;
    height: max-content;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url(Super\ Mario.jpg);
    background-size: cover;
    background-position: center;
}
.Abody{
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),
    url(Spiderman.jpg);
    background-size: cover;
    background-position: center;
}
.buttons{
    height: 20vh;
    text-align:center;

}
.table{
    margin:auto;
    align-items: center;
    text-align: center;
    color:white;
}
.orderedList{
    font-size:x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:greenyellow;
}
.testi h1{
    font-size: large;
    color: rgb(78, 243, 78);
    background-color: rgb(70, 70, 148);
}
.testi h6{
    color: whitesmoke;
    text-align: center;
    font-size:x-large;
}
.testi{
    color: black;
    border: 2px solid #34936b;
    background-color: #0a6781;
    border-radius: 50px;
    padding: 1%;
    margin: 0px 145px;
}
.testi::after{
    content:"";
    clear: both;
    display: table;
}
.testi img{
    float:left;
    zoom: 150%;
    margin-right: 20px;
    border-radius: 20px;
}
#saved-items-list{
    color: khaki;
}
#rlike{
    background-color: #009688;
}
#rdislike{
    background-color: violet;
}
.testi span{
    color: #ccc;
    font-size: 20px;
    margin-right: 15px;
}
@media(max-width: 500px){
    .testi{
        text-align: center;
    }
    .testi img{
        margin: auto;
        float: none;
        display: block;
    }
}



























